@using System.Globalization
@inject NavigationManager NavManager
@inject ILocalStorageService localstorage

<select class="form-control" @bind= "Culture" style = "width: 100px; margin-left: 10px;">
    @foreach(var culture in cultures)
    {
        <option value = "@culture">@culture.DisplayName</option>
    }
</select>

@code {
    CultureInfo[] cultures = new[]
                {
        new CultureInfo("fr-FR"),
        new CultureInfo("nl-NL"),
        new CultureInfo("en-EN"),
        new CultureInfo("es-ES")
    };

    CultureInfo Culture
    {
        get => CultureInfo.CurrentCulture;
        set
        {
            if(CultureInfo.CurrentCulture != value)
            {
                localstorage.SetItemAsync<string>("culture", value.Name);
                NavManager.NavigateTo(NavManager.Uri, forceLoad: true);
            }
        }
    }
}